/* Styles for the "About Us" section */

#about {
    background-color: #f4f4f4;
    padding: 3%;
    border-radius: 20px;
  }
  
  h2 {
    color: #333;
    font-size: 2em;
    text-align: center;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  #about p {
    color: #666;
    font-size: 1.2em;
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
  }
  

  /* Meet Our Teachers Section Styles */
 /* Additional styles for the "About Us" section */

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px; /* Set a maximum width for the container */
  margin: 0 auto; /* Center the container on larger screens */
}

.team-member {
  background-color: rgb(243, 246, 255);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 15px;
  padding: 20px;
  width: 250px;
  flex: 1 1 300px; /* Allow flexible sizing for larger screens */
}
  
.team-member img {
  max-width: 100%;
  height: 400px; /* Set a fixed height for the images */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 50%;
}

  
  .team-member h3 {
    color: #333;
    font-size: 1.5em;
    margin-top: 10px;
  }
  
  .team-member p {
    color: #666;
    font-size: 1.2em;
  }
  /* Additional styles for the "About Us" section */
  
/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  #about {
      padding: 20px;
  }

  #about h2 {
      font-size: 1.8em;
  }

  #about p {
      font-size: 1em;
  }

  .team-member {
      width: calc(50% - 30px); /* Adjusted width for smaller screens */
  }
}
