body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  main {
    padding: 20px;
  }
  
  .signup-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #2b1919;
    font-size: 2em;
    text-align: center;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background: linear-gradient(to right, #842842, #ff768f);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: linear-gradient(to right, #c9e9ff, #27a5ae);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .signup-container {
      width: 80%;
    }
  
  }
  
  